<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="D:/Learning/Workspace/Selenium/Patterns/SeleniumSimplePOM" parallel="methods" thread-count="3" verbose="3">
        <classes>
            <class name="com.qa.tests.LoginTest"/>
            <class name="com.qa.tests.HomeTest"/>
        </classes>
    </test>
</suite>